/*
 Theme Name:   SJU Mission Site
 Theme URI:    http://graphpaperpress.com
 Description:  a child theme
 Author:       Graph Paper Press
 Author URI:   http://graphpaperpress.com
 Template:     canape-wpcom
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  sjumission
*/

@import url("../canape-wpcom/style.css");

/* Add your custom css below
-------------------------------------------------------------- */

a {
  border-bottom: 1px solid transparent;
  color: #167DAD;
  text-decoration: none;
}

.widget {
  border: 2px solid #ccc;
}
.site-header {
  background-color: #9e1b32;
}

.hentry {
  border-bottom: 1px solid #ccc;
}
 .entry-title,
 .entry-title a {
 	border-bottom-width: 2px;
	color: #9e1b32;
 }

 .entry-title a:hover {
	border-bottom-color: #167DAD;
	color: #167DAD;
 }
 
 .hero-container-inner .hentry {
	border: 2px solid #ccc;
 	padding: 0 20px;
 	text-align: center;
 }
 .front-testimonials {
 	border-bottom: 1px solid #ece8e0;
	padding-top: 20px;
 	position: relative;
 	z-index: 1;
 }



.front-mission {
	background: #efefef;
}
.front-mission .inner {
	margin: 0 auto;
	text-align: center;
	padding: 0 1.625em;
}
.front-mission {
	border-bottom: 1px solid #ece8e0;
	margin-bottom: -;
	padding-top: 84px;
	position: relative;
	top: -84px;
	z-index: 1;
	padding-bottom: 40px;
}

.front-mission .hentry {
	border-bottom: none;
}

.front-mission .entry-content {
	margin-bottom: 1.75em;
}

.front-mission h2 {
	color: #b4966b;
}

.front-mission .entry-meta {
	padding: 0;
}
.front-mission h2 {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 1.8px;
	font-size: 1.8rem;
	letter-spacing: 1px;
	line-height: 1.5556;
	margin: 3.1113em 0 1.556em;
	text-transform: uppercase;
	color: #9e1b32;
}

@media screen and (min-width:768px) {
  .front-mission .inner {
		padding: 0;
		width: 670px;
	}
}


/*--------------------------------------------------------------
## Testimonials
--------------------------------------------------------------*/

.type-reflection .entry-header {	
  overflow: hidden;
}

.type-reflection .entry-title {
	color: #404040;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 1.8rem;
	font-size: 18px;
	font-style: italic;
	letter-spacing: 0;
	line-height: 1.5556;
	margin-bottom: 0;
	text-transform: none;
}

.archive .type-reflection .posted-on {
	color: #aaa;
	display: block;
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 1.4rem;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 2;
	margin-bottom: 2em;
	text-transform: uppercase;
}

.type-reflection .entry-title:before {
	content: '- ';
}

.archive .type-reflection .entry-meta {
	clear: both;
	margin-top: 1em;
	padding: 0;
	text-align: center;
}

.type-reflection .entry-meta span {
	margin: 0;
}

#reflections .hentry {
	border-bottom: none;
}

#reflections .hentry:after {
	content: '~';
	display: block;
	font-family: "Playfair Display", Georgia, serif;
	font-size: 3.2rem;
	font-size: 32px;
	line-height: 1;
	margin-top: 0.4375em;
}

#reflections .hentry:last-child:after {
	content: '';
}

/* Testimonials Shortcode */
.jetpack-testimonial-shortcode .testimonial-entry {
	border: 1px solid #f2f2f2;
	margin-bottom: 3em;
	margin-top: 3em;
	padding: 1.5em 1.525% 0;
	text-align: center;
}

.jetpack-testimonial-shortcode .testimonial-entry-title {
	letter-spacing: 2px;
	margin-bottom: 1.5em;
}

.testimonial-featured-image img {
	height: 90px;
	margin-bottom: -45px;
	position: relative;
	width: 90px;
}

.testimonial-entry-column-2 {
	width: 44% !important;
}

.testimonial-entry-column-3 {
	width: 27% !important;
}

.testimonial-entry-column-4 {
	width: 18% !important;
}

.testimonial-entry-column-5 {
	width: 15% !important;
}

.testimonial-entry-column-6 {
	width: 11% !important;
}

/* Testimonials Single View */
.single .reflection {
	float: none;
	width: 96.6%;
}

.single .reflection:after {
	background: none;
}

/* Testimonials Archives Page */
.testimonials-content-area .entry-content {
	margin-bottom: 1.75em;
}

.testimonials.grid .reflection {
	float: none;
	margin: 0 0 0 0;
	width: auto;
}

#reflections .hentry {
	margin: 1.75em 0;
}

.archive .testimonials .without-featured-image > .entry-header {
	margin-left: 0;
}

.testimonials .no-results {
	margin-bottom: 3em;
}

.post-type-archive-jetpack-testimonial .content-wrapper.full-width .hentry:after {
	background: none;
}


